@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #292d38;
  --primary-100: #2d2d2d;
  --primary-200: #212121;
  --primary-300: #1a1a1a;
  --primary-400: #1d1f25;
  --blue: #0094ff;
  --gray-dark: #37383d;
  --gray-light: #444751;
  --yellow-100: #ffea8e;
  --yellow-200: #ffe58e;
}

.rightSidebar-content::-webkit-scrollbar {
  display: none;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.toast-custom {
  font-family: "Mulish", system-ui;
  letter-spacing: 0.02em;
}

.react-flow__attribution {
  display: none;
}

.react-flow {
  --xy-edge-stroke-default: #ffffff33 !important
;
}

.react-flow__controls-button {
  background-color: #242632 !important;
  color: white !important;
  border: 1px solid #50515b !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
}

.react-flow__controls-zoomin {
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
}

.react-flow__controls-zoomout {
  margin-bottom: 0.7rem;
}

.react-flow__controls {
  box-shadow: none !important;
}

.react-flow__handle.connectionindicator {
  cursor: pointer !important;
}

.react-flow__controls-button svg {
  max-width: 10px !important;
  max-height: 10px !important;
}
